/*  ----------------------------------------------------------------------------
    This editor style is also loaded in the backend to style the posts
    WARNING: this file is not loaded in the front end
*/
/*  ----------------------------------------------------------------------------
    responsive settings
*/
/* responsive portrait tablet */
/* responsive portrait phone */
/*  ----------------------------------------------------------------------------
    module settings
*/
/*  ----------------------------------------------------------------------------
    header_menu settings
*/
/*  ----------------------------------------------------------------------------
    theme base font type
*/
body,
p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  line-height: 21px;
  color: #222222;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
p {
  margin-bottom: 21px;
}
/*  ----------------------------------------------------------------------------
    theme specific type
*/
.h5-caps-title {
  font-family: 'Open Sans', arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
}
a:active,
a:focus {
  outline: none;
}
a {
  color: #4db2ec;
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline;
}
ins {
  background: white;
  text-decoration: none;
}
code {
  position: relative;
  top: -1px;
  border: none;
  background-color: #F1F1F1;
  padding: 4px 10px;
}
pre {
  background-color: #f1f1f1;
  padding: 4px 10px 4px 10px;
  border: none;
  border-radius: 0px;
  margin-top: 24px;
}
cite {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 13px;
  /* ovveride bootstrap */
  font-style: italic;
  font-weight: normal;
  text-transform: none;
  color: #444444;
}
cite a {
  color: #444444;
}
cite a:hover {
  color: #444444;
}
blockquote.pull-right {
  padding-left: 20px;
  border-right: none;
}
blockquote.pull-right:after {
  border-right: 2px solid #FB5502;
  width: 40px;
  right: -40px;
}
q {
  font-style: italic;
}
/*  ----------------------------------------------------------------------------
    ul li
*/
ul {
  padding: 0;
  list-style-position: inside;
}
ul li {
  line-height: 24px;
}
ol {
  list-style-position: inside;
  padding: 0;
}
ol li {
  list-style-type: none;
  line-height: 24px;
}
.dl-horizontal a {
  font-weight: 500 !important;
}
.dl-horizontal dt {
  width: 70px;
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
}
.dl-horizontal dd {
  margin-left: 90px;
  line-height: 24px;
  font-size: 14px;
}
/*  ----------------------------------------------------------------------------
    ul li on post content
*/
.td-post-content,
.mce-content-body,
.wpb_text_column,
.comment-content {
  font-size: 14px;
  line-height: 24px;
}
.td-post-content a:hover,
.mce-content-body a:hover,
.wpb_text_column a:hover,
.comment-content a:hover {
  text-decoration: underline !important;
}
.td-post-content p,
.mce-content-body p,
.wpb_text_column p,
.comment-content p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
}
.td-post-content ul,
.mce-content-body ul,
.wpb_text_column ul,
.comment-content ul {
  list-style-position: inside;
  margin-bottom: 24px;
}
.td-post-content ul li,
.mce-content-body ul li,
.wpb_text_column ul li,
.comment-content ul li {
  margin: 0 0 0 21px;
}
.td-post-content ul ul,
.mce-content-body ul ul,
.wpb_text_column ul ul,
.comment-content ul ul,
.td-post-content ul ol,
.mce-content-body ul ol,
.wpb_text_column ul ol,
.comment-content ul ol {
  margin-bottom: 0;
  padding-left: 0;
}
.td-post-content ol,
.mce-content-body ol,
.wpb_text_column ol,
.comment-content ol {
  list-style-position: inside;
  margin-bottom: 24px;
}
.td-post-content ol li,
.mce-content-body ol li,
.wpb_text_column ol li,
.comment-content ol li {
  list-style-type: decimal;
  margin: 0 0 0 21px;
}
.td-post-content ol ul,
.mce-content-body ol ul,
.wpb_text_column ol ul,
.comment-content ol ul {
  margin-bottom: 0;
  padding-left: 0;
}
.td-post-content ol ul > li,
.mce-content-body ol ul > li,
.wpb_text_column ol ul > li,
.comment-content ol ul > li {
  list-style-type: inherit;
}
.td-post-content ol ol,
.mce-content-body ol ol,
.wpb_text_column ol ol,
.comment-content ol ol {
  padding-left: 0;
  margin-bottom: 0;
}
.td-post-content .td-arrow-list li:before,
.mce-content-body .td-arrow-list li:before,
.wpb_text_column .td-arrow-list li:before,
.comment-content .td-arrow-list li:before {
  font-family: 'newsmag', sans-serif;
  content: '\e803';
  float: left;
  margin-left: -19px;
  line-height: 24px;
  font-size: 14px;
}
.td-post-content .td-arrow-list,
.mce-content-body .td-arrow-list,
.wpb_text_column .td-arrow-list,
.comment-content .td-arrow-list {
  margin-left: 21px;
  list-style: none;
}
/*  ----------------------------------------------------------------------------
    quote
*/
.td-page-content blockquote,
.td-post-content blockquote,
.wpb_text_column blockquote,
.td_block_text_with_title blockquote,
.mce-content-body blockquote,
.comment-content blockquote {
  text-align: center;
  padding: 0;
  position: relative;
  border-left: none;
  margin: 42px 0 38px 0;
}
.td-page-content blockquote.has-text-align-right,
.td-post-content blockquote.has-text-align-right,
.wpb_text_column blockquote.has-text-align-right,
.td_block_text_with_title blockquote.has-text-align-right,
.mce-content-body blockquote.has-text-align-right,
.comment-content blockquote.has-text-align-right {
  text-align: right;
}
.td-page-content blockquote.has-text-align-left,
.td-post-content blockquote.has-text-align-left,
.wpb_text_column blockquote.has-text-align-left,
.td_block_text_with_title blockquote.has-text-align-left,
.mce-content-body blockquote.has-text-align-left,
.comment-content blockquote.has-text-align-left {
  text-align: left;
}
.td-page-content blockquote p,
.td-post-content blockquote p,
.wpb_text_column blockquote p,
.td_block_text_with_title blockquote p,
.mce-content-body blockquote p,
.comment-content blockquote p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  color: #4db2ec;
}
.td-page-content .wp-block-quote.is-large cite,
.td-post-content .wp-block-quote.is-large cite,
.wpb_text_column .wp-block-quote.is-large cite,
.td_block_text_with_title .wp-block-quote.is-large cite,
.mce-content-body .wp-block-quote.is-large cite,
.comment-content .wp-block-quote.is-large cite {
  font-size: 13px;
}
.td-page-content .wp-block-separator:not(.is-style-wide):not(.is-style-dots),
.td-post-content .wp-block-separator:not(.is-style-wide):not(.is-style-dots),
.wpb_text_column .wp-block-separator:not(.is-style-wide):not(.is-style-dots),
.td_block_text_with_title .wp-block-separator:not(.is-style-wide):not(.is-style-dots),
.mce-content-body .wp-block-separator:not(.is-style-wide):not(.is-style-dots),
.comment-content .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100px;
  border: none;
  border-bottom: 2px solid #8f98a1;
  margin: 1.65em auto;
}
.td-page-content .twitter-tweet p,
.td-post-content .twitter-tweet p,
.wpb_text_column .twitter-tweet p,
.td_block_text_with_title .twitter-tweet p,
.mce-content-body .twitter-tweet p,
.comment-content .twitter-tweet p {
  font-family: initial;
  font-size: initial;
  line-height: initial;
  font-style: initial;
  text-align: initial;
  text-transform: initial;
  color: initial;
  font-weight: initial;
}
.td-page-content .td_quote_right,
.td-post-content .td_quote_right,
.wpb_text_column .td_quote_right,
.td_block_text_with_title .td_quote_right,
.mce-content-body .td_quote_right,
.comment-content .td_quote_right {
  float: right;
  width: 50%;
  padding-left: 20px;
  margin-bottom: 21px;
  margin-top: 21px;
}
.td-page-content .td_quote_left,
.td-post-content .td_quote_left,
.wpb_text_column .td_quote_left,
.td_block_text_with_title .td_quote_left,
.mce-content-body .td_quote_left,
.comment-content .td_quote_left {
  float: left;
  width: 50%;
  padding-left: 0;
  margin-bottom: 18px;
  margin-top: 18px;
}
.td-page-content .td_quote_left p,
.td-post-content .td_quote_left p,
.wpb_text_column .td_quote_left p,
.td_block_text_with_title .td_quote_left p,
.mce-content-body .td_quote_left p,
.comment-content .td_quote_left p {
  text-align: left;
}
.td-page-content .td_quote_box,
.td-post-content .td_quote_box,
.wpb_text_column .td_quote_box,
.td_block_text_with_title .td_quote_box,
.mce-content-body .td_quote_box,
.comment-content .td_quote_box {
  margin: 0;
  background-color: #FCFCFC;
  border-left-style: solid;
  border-width: 2px;
  border-color: #4db2ec;
  padding: 15px 23px 0 23px;
  position: relative;
  top: 6px;
}
.td-page-content .td_quote_box p,
.td-post-content .td_quote_box p,
.wpb_text_column .td_quote_box p,
.td_block_text_with_title .td_quote_box p,
.mce-content-body .td_quote_box p,
.comment-content .td_quote_box p {
  font-family: 'Open Sans', arial, sans-serif;
  color: #777;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  padding-bottom: 16px;
  margin: 0;
  text-transform: none;
}
.td-page-content .td_box_left,
.td-post-content .td_box_left,
.wpb_text_column .td_box_left,
.td_block_text_with_title .td_box_left,
.mce-content-body .td_box_left,
.comment-content .td_box_left {
  width: 40%;
  float: left;
  margin: 0 34px 20px 0;
}
.td-page-content .td_box_right,
.td-post-content .td_box_right,
.wpb_text_column .td_box_right,
.td_block_text_with_title .td_box_right,
.mce-content-body .td_box_right,
.comment-content .td_box_right {
  width: 30%;
  float: right;
  margin: 0 0 20px 34px;
}
.td-page-content .td_box_center,
.td-post-content .td_box_center,
.wpb_text_column .td_box_center,
.td_block_text_with_title .td_box_center,
.mce-content-body .td_box_center,
.comment-content .td_box_center {
  margin: 0 0 29px 0;
}
.td-page-content .wp-block-pullquote blockquote,
.td-post-content .wp-block-pullquote blockquote,
.wpb_text_column .wp-block-pullquote blockquote,
.td_block_text_with_title .wp-block-pullquote blockquote,
.mce-content-body .wp-block-pullquote blockquote,
.comment-content .wp-block-pullquote blockquote,
.td-page-content .td_pull_quote,
.td-post-content .td_pull_quote,
.wpb_text_column .td_pull_quote,
.td_block_text_with_title .td_pull_quote,
.mce-content-body .td_pull_quote,
.comment-content .td_pull_quote {
  margin: 0;
  position: relative;
  top: 0;
}
.td-page-content .wp-block-pullquote blockquote p,
.td-post-content .wp-block-pullquote blockquote p,
.wpb_text_column .wp-block-pullquote blockquote p,
.td_block_text_with_title .wp-block-pullquote blockquote p,
.mce-content-body .wp-block-pullquote blockquote p,
.comment-content .wp-block-pullquote blockquote p,
.td-page-content .td_pull_quote p,
.td-post-content .td_pull_quote p,
.wpb_text_column .td_pull_quote p,
.td_block_text_with_title .td_pull_quote p,
.mce-content-body .td_pull_quote p,
.comment-content .td_pull_quote p {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  text-transform: none;
  text-align: center;
}
.td-page-content .wp-block-pullquote blockquote p:first-child:before,
.td-post-content .wp-block-pullquote blockquote p:first-child:before,
.wpb_text_column .wp-block-pullquote blockquote p:first-child:before,
.td_block_text_with_title .wp-block-pullquote blockquote p:first-child:before,
.mce-content-body .wp-block-pullquote blockquote p:first-child:before,
.comment-content .wp-block-pullquote blockquote p:first-child:before,
.td-page-content .td_pull_quote p:first-child:before,
.td-post-content .td_pull_quote p:first-child:before,
.wpb_text_column .td_pull_quote p:first-child:before,
.td_block_text_with_title .td_pull_quote p:first-child:before,
.mce-content-body .td_pull_quote p:first-child:before,
.comment-content .td_pull_quote p:first-child:before {
  position: absolute;
  background: url('images/icons/pull-quote-left.png') no-repeat;
  left: 0;
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.td-page-content .wp-block-pullquote blockquote p:after,
.td-post-content .wp-block-pullquote blockquote p:after,
.wpb_text_column .wp-block-pullquote blockquote p:after,
.td_block_text_with_title .wp-block-pullquote blockquote p:after,
.mce-content-body .wp-block-pullquote blockquote p:after,
.comment-content .wp-block-pullquote blockquote p:after,
.td-page-content .td_pull_quote p:after,
.td-post-content .td_pull_quote p:after,
.wpb_text_column .td_pull_quote p:after,
.td_block_text_with_title .td_pull_quote p:after,
.mce-content-body .td_pull_quote p:after,
.comment-content .td_pull_quote p:after {
  position: absolute;
  background: url('images/icons/pull-quote-right.png') no-repeat;
  bottom: 10px;
  right: 0;
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.td-page-content .wp-block-pullquote blockquote,
.td-post-content .wp-block-pullquote blockquote,
.wpb_text_column .wp-block-pullquote blockquote,
.td_block_text_with_title .wp-block-pullquote blockquote,
.mce-content-body .wp-block-pullquote blockquote,
.comment-content .wp-block-pullquote blockquote,
.td-page-content .td_pull_center,
.td-post-content .td_pull_center,
.wpb_text_column .td_pull_center,
.td_block_text_with_title .td_pull_center,
.mce-content-body .td_pull_center,
.comment-content .td_pull_center {
  margin: 17px 0;
  padding: 15px 50px;
  /* responsive portrait phone */
}
@media (max-width: 767px) {
  .td-page-content .wp-block-pullquote blockquote,
  .td-post-content .wp-block-pullquote blockquote,
  .wpb_text_column .wp-block-pullquote blockquote,
  .td_block_text_with_title .wp-block-pullquote blockquote,
  .mce-content-body .wp-block-pullquote blockquote,
  .comment-content .wp-block-pullquote blockquote,
  .td-page-content .td_pull_center,
  .td-post-content .td_pull_center,
  .wpb_text_column .td_pull_center,
  .td_block_text_with_title .td_pull_center,
  .mce-content-body .td_pull_center,
  .comment-content .td_pull_center {
    padding: 15px 20px;
  }
}
.td-page-content .wp-block-pullquote,
.td-post-content .wp-block-pullquote,
.wpb_text_column .wp-block-pullquote,
.td_block_text_with_title .wp-block-pullquote,
.mce-content-body .wp-block-pullquote,
.comment-content .wp-block-pullquote {
  padding: 0;
  color: #4db2ec;
}
.td-page-content .wp-block-pullquote p,
.td-post-content .wp-block-pullquote p,
.wpb_text_column .wp-block-pullquote p,
.td_block_text_with_title .wp-block-pullquote p,
.mce-content-body .wp-block-pullquote p,
.comment-content .wp-block-pullquote p {
  color: inherit;
}
.td-page-content .wp-block-pullquote.alignleft,
.td-post-content .wp-block-pullquote.alignleft,
.wpb_text_column .wp-block-pullquote.alignleft,
.td_block_text_with_title .wp-block-pullquote.alignleft,
.mce-content-body .wp-block-pullquote.alignleft,
.comment-content .wp-block-pullquote.alignleft,
.td-page-content .td_pull_left,
.td-post-content .td_pull_left,
.wpb_text_column .td_pull_left,
.td_block_text_with_title .td_pull_left,
.mce-content-body .td_pull_left,
.comment-content .td_pull_left {
  width: 40%;
  float: left;
  margin: 0 34px 5px 0;
  padding: 17px 25px 18px 25px;
}
.td-page-content .wp-block-pullquote.alignright,
.td-post-content .wp-block-pullquote.alignright,
.wpb_text_column .wp-block-pullquote.alignright,
.td_block_text_with_title .wp-block-pullquote.alignright,
.mce-content-body .wp-block-pullquote.alignright,
.comment-content .wp-block-pullquote.alignright,
.td-page-content .td_pull_right,
.td-post-content .td_pull_right,
.wpb_text_column .td_pull_right,
.td_block_text_with_title .td_pull_right,
.mce-content-body .td_pull_right,
.comment-content .td_pull_right {
  width: 30%;
  float: right;
  margin: 0 0 10px 34px;
  padding: 17px 25px 18px 25px;
}
.td-page-content .td_pull_center,
.td-post-content .td_pull_center,
.wpb_text_column .td_pull_center,
.td_block_text_with_title .td_pull_center,
.mce-content-body .td_pull_center,
.comment-content .td_pull_center {
  margin: 17px 0;
  padding: 15px 50px 15px 50px;
}
.td-page-content .wp-block-pullquote.alignleft,
.td-post-content .wp-block-pullquote.alignleft,
.wpb_text_column .wp-block-pullquote.alignleft,
.td_block_text_with_title .wp-block-pullquote.alignleft,
.mce-content-body .wp-block-pullquote.alignleft,
.comment-content .wp-block-pullquote.alignleft,
.td-page-content .wp-block-pullquote.alignright,
.td-post-content .wp-block-pullquote.alignright,
.wpb_text_column .wp-block-pullquote.alignright,
.td_block_text_with_title .wp-block-pullquote.alignright,
.mce-content-body .wp-block-pullquote.alignright,
.comment-content .wp-block-pullquote.alignright {
  margin-top: 0;
  margin-bottom: 0 !important;
  /* responsive portrait phone */
}
@media (max-width: 767px) {
  .td-page-content .wp-block-pullquote.alignleft,
  .td-post-content .wp-block-pullquote.alignleft,
  .wpb_text_column .wp-block-pullquote.alignleft,
  .td_block_text_with_title .wp-block-pullquote.alignleft,
  .mce-content-body .wp-block-pullquote.alignleft,
  .comment-content .wp-block-pullquote.alignleft,
  .td-page-content .wp-block-pullquote.alignright,
  .td-post-content .wp-block-pullquote.alignright,
  .wpb_text_column .wp-block-pullquote.alignright,
  .td_block_text_with_title .wp-block-pullquote.alignright,
  .mce-content-body .wp-block-pullquote.alignright,
  .comment-content .wp-block-pullquote.alignright {
    max-width: 100%;
  }
}
.td-page-content .alignnone,
.td-post-content .alignnone,
.wpb_text_column .alignnone,
.td_block_text_with_title .alignnone,
.mce-content-body .alignnone,
.comment-content .alignnone {
  display: inline-block;
  margin-bottom: 0;
}
blockquote small {
  margin-top: 5px;
  display: block;
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  text-transform: none;
  color: #444;
}
/*  ----------------------------------------------------------------------------
    dropcap
*/
.td-page-content .dropcap,
.td-post-content .dropcap,
.wpb_text_column .dropcap,
.mce-content-body .dropcap,
.comment-content .dropcap {
  float: left;
  display: block;
  font-size: 50px;
  line-height: 52px;
  background-color: #4db2ec;
  color: white;
  text-align: center;
  margin: 9px 13px 0 0;
  padding: 3px 10px;
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  min-width: 62px;
  min-height: 62px;
}
.td-page-content .dropcap1,
.td-post-content .dropcap1,
.wpb_text_column .dropcap1,
.mce-content-body .dropcap1,
.comment-content .dropcap1 {
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
  font-size: 40px;
  line-height: 56px;
  padding: 2px 14px 4px;
}
.td-page-content .dropcap2,
.td-post-content .dropcap2,
.wpb_text_column .dropcap2,
.mce-content-body .dropcap2,
.comment-content .dropcap2 {
  background-color: transparent !important;
  color: #4B4B4B;
  font-size: 60px;
  line-height: 50px;
  margin: 7px 9px 0 0;
}
.td-page-content .dropcap3,
.td-post-content .dropcap3,
.wpb_text_column .dropcap3,
.mce-content-body .dropcap3,
.comment-content .dropcap3 {
  background-color: transparent !important;
  color: #4B4B4B;
  font-size: 60px;
  line-height: 42px;
  font-weight: bold;
  margin: 7px 9px 0 0;
}
/*  ----------------------------------------------------------------------------
    button
*/
.td_btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 600;
}
.td_btn_sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.td_btn_md {
  padding: 9px 12px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}
.td_btn_lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.td_default_btn,
.td_square_btn {
  transition: background-color 0.1s ease;
  -webkit-transition: background-color 0.1s ease;
  background-color: #4db2ec;
}
.td_default_btn:hover,
.td_square_btn:hover {
  background-color: #444 !important;
}
.td_default_btn:active,
.td_square_btn:active {
  background-color: #000 !important;
}
.td_square_btn {
  border-radius: 0;
}
.td_outlined_btn {
  border-width: 2px;
  border-style: solid;
  border-color: #4db2ec;
  color: #4db2ec;
  background-color: transparent;
  transition: all 0.1s ease ;
  -webkit-transition: all 0.1s ease;
}
.td_outlined_btn:hover {
  background-color: #4db2ec;
  color: #fff;
}
.td_outlined_btn:active {
  background-color: #444 !important;
  border-color: #444;
}
.td_shadow_btn {
  background-color: #4db2ec;
  top: 0;
  -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
  transition: top 0.1s ease;
  -webkit-transition: top 0.1s ease;
}
.td_shadow_btn:hover {
  top: -3px;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.25);
}
.td_shadow_btn:active {
  background-color: #444 !important;
}
.td_3D_btn {
  background-color: #4db2ec;
  top: 0;
  transition: top 0.1s ease;
  -webkit-transition: top 0.1s ease;
  border-radius: 0;
}
.td_3D_btn:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 100%;
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 0;
  transition: height 0.1s ease;
  -webkit-transition: height 0.1s ease;
}
.td_3D_btn:hover {
  top: 5px;
}
.td_3D_btn:hover:before {
  height: 0;
}
.td_3D_btn:hover:after {
  height: 0;
}
.td_3D_btn:active {
  background-color: #444 !important;
}
/*  ----------------------------------------------------------------------------
    h
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', arial, sans-serif;
  color: #222222;
  font-weight: 400;
  margin: 6px 0px 6px 0px;
}
h1 {
  font-size: 32px;
  line-height: 40px;
  margin-top: 33px;
  margin-bottom: 23px;
  letter-spacing: -0.02em;
}
h2 {
  font-size: 27px;
  line-height: 38px;
  margin-top: 30px;
  margin-bottom: 20px;
  letter-spacing: -0.02em;
}
h3 {
  font-size: 22px;
  line-height: 30px;
  margin-top: 27px;
  margin-bottom: 17px;
}
h4 {
  font-size: 19px;
  line-height: 29px;
  margin-top: 24px;
  margin-bottom: 14px;
}
h5 {
  font-size: 17px;
  line-height: 25px;
  margin-top: 21px;
  margin-bottom: 11px;
}
h6 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 21px;
  margin-bottom: 11px;
}
.td-post-content h1:first-child,
.td-post-content h2:first-child,
.td-post-content h3:first-child,
.td-post-content h4:first-child,
.td-post-content h5:first-child,
.td-post-content h6:first-child {
  margin-top: 4px;
}
/*  ----------------------------------------------------------------------------
    text and Images align
*/
.td-post-content img,
.mce-content-body img {
  margin-bottom: 21px;
}
.td-post-content figure img,
.mce-content-body figure img {
  margin-bottom: 0;
}
/*  ----------------------------------------------------------------------------
    text and Images align
*/
.alignnone {
  margin-top: 0;
}
.aligncenter {
  text-align: center;
  clear: both;
  display: block;
  margin: 6px auto;
}
/*  ----------------------------------------------------------------------------
    align left
*/
.alignleft:not(.td-post-image-left) {
  float: left;
  margin-right: 21px;
  margin-top: 6px;
  margin-bottom: 6px;
  /* responsive portrait tablet */
  /* responsive portrait phone - just a bit, after 500px we make it non float */
  /* responsive phone CUSTOM - align the image on center */
}
@media (min-width: 768px) and (max-width: 1023px) {
  .alignleft:not(.td-post-image-left) {
    max-width: 220px;
  }
}
@media (max-width: 767px) {
  .alignleft:not(.td-post-image-left) {
    max-width: 220px;
  }
}
@media (max-width: 500px) {
  .alignleft:not(.td-post-image-left) {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-bottom: 21px;
  }
  .alignleft:not(.td-post-image-left) img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .alignleft:not(.td-post-image-left) figcaption {
    text-align: center;
  }
}
.td-pb-span12,
.mceContentBody-max-width-big {
  /* responsive portrait tablet */
}
@media (min-width: 768px) and (max-width: 1023px) {
  .td-pb-span12 .alignleft:not(.td-post-image-left),
  .mceContentBody-max-width-big .alignleft:not(.td-post-image-left) {
    max-width: 400px !important;
  }
}
/*  ----------------------------------------------------------------------------
    Screen reader text
*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
/*  ----------------------------------------------------------------------------
    align right
*/
.alignright:not(.td-post-image-right) {
  float: right;
  margin-left: 21px;
  margin-top: 6px;
  margin-bottom: 6px;
  /* responsive portrait tablet */
  /* responsive portrait phone */
  /* responsive phone CUSTOM */
}
@media (min-width: 768px) and (max-width: 1023px) {
  .alignright:not(.td-post-image-right) {
    max-width: 220px;
  }
}
@media (max-width: 767px) {
  .alignright:not(.td-post-image-right) {
    max-width: 220px;
  }
}
@media (max-width: 500px) {
  .alignright:not(.td-post-image-right) {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-bottom: 21px;
  }
  .alignright:not(.td-post-image-right) img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .alignright:not(.td-post-image-right) figcaption {
    text-align: center;
  }
}
.alignright .td-post-image-full-and-grid,
.alignleft .td-post-image-full-and-grid,
.aligncenter .td-post-image-full-and-grid,
.alignnone .td-post-image-full-and-grid {
  max-width: none !important;
}
.td-pb-span12,
.mceContentBody-max-width-big {
  /* responsive portrait tablet */
}
@media (min-width: 768px) and (max-width: 1023px) {
  .td-pb-span12 .alignright:not(.td-post-image-left),
  .mceContentBody-max-width-big .alignright:not(.td-post-image-left) {
    max-width: 400px !important;
  }
}
figure.alignright,
figure.alignleft,
figure.aligncenter {
  margin-bottom: 0;
}
.alignnone img,
.aligncenter img {
  width: 100%;
}
img.wp-smiley {
  width: auto;
}
/*  ----------------------------------------------------------------------------
     caption
*/
.wp-caption-text,
.wp-caption-dd {
  font-family: Verdana, Geneva, sans-serif;
  text-align: right;
  margin: 4px 0px 17px 0px;
  font-size: 11px;
  font-style: italic;
  font-weight: normal;
  line-height: 17px;
  color: #444444;
  z-index: 1;
}
.wp-caption {
  text-align: center;
  max-width: 100%;
}
.wp-caption img {
  max-width: 100% !important;
}
/*  ----------------------------------------------------------------------------
     table
*/
table {
  width: 100%;
}
table th {
  text-align: left;
  border: 1px solid #e6e6e6;
  padding: 2px 8px;
}
table td {
  border: 1px solid #e6e6e6;
  padding: 2px 8px;
}
table .odd td {
  background-color: #fcfcfc;
}
.wp-block-table td,
.wp-block-table th {
  padding: 2px 8px;
  border-color: #e6e6e6;
}
address {
  font-size: inherit !important;
  line-height: inherit !important;
  margin-bottom: 21px;
}
big {
  text-transform: uppercase;
}
/* Post content */
.post {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  line-height: 21px;
  color: #444;
}
/* Forms, textarea */
textarea {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  line-height: 21px;
  color: #444;
  border: 1px solid #e6e6e6;
  width: 100%;
  max-width: 100%;
  height: 168px;
  min-height: 168px;
  padding: 6px 9px;
}
textarea:active,
textarea:focus {
  border-color: #ccc !important;
}
textarea:focus,
input:focus,
input[type]:focus {
  outline: 0 none;
}
/* Input buttons */
input[type=submit] {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  background-color: #222;
  border-radius: 3px;
  color: #ffffff;
  border: none;
  padding: 7px 12px;
}
input[type=submit]:hover {
  background-color: #4db2ec;
}
input[type=text],
input[type=url],
input[type=tel],
input[type=email] {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  line-height: 21px;
  color: #444444;
  border: 1px solid #e6e6e6;
  width: 100%;
  max-width: 100%;
  height: 34px;
  padding: 3px 9px 3px 9px;
}
input[type=text]:active,
input[type=url]:active,
input[type=tel]:active,
input[type=email]:active,
input[type=text]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=email]:focus {
  border-color: #cccccc !important;
}
input[type=password] {
  width: 100%;
  position: relative;
  top: 0;
  display: inline-table;
  vertical-align: middle;
  font-size: 12px;
  line-height: 21px;
  color: #444;
  border: 1px solid #ccc;
  max-width: 100%;
  height: 34px;
  padding: 3px 9px;
  margin-bottom: 10px;
  /* responsive portrait phone */
}
@media (max-width: 767px) {
  input[type=password] {
    font-size: 16px;
  }
}
/*  ----------------------------------------------------------------------------
     embed
*/
embed {
  width: 100%;
}
.videopress-placeholder {
  width: 100% !important;
}
.videopress-poster {
  height: auto !important;
  width: 100% !important;
}
.video-player {
  width: 100% !important;
}
/*  ----------------------------------------------------------------------------
     tagDiv image styles
     the .td-post-image-lef is moved:
      - from image to link
        or
      - from image to figure

*/
.wp-block-gallery.alignnone {
  display: flex;
}
/*  ----------------------------------------------------------------------------
    td image left
*/
.td-post-image-left {
  float: left;
  position: relative;
  left: -21px;
  /* responsive portrait tablet */
  /* responsive portrait phone */
  /* responsive phone CUSTOM - align the image on center */
}
.td-post-image-left figcaption {
  padding-left: 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .td-post-image-left {
    left: -18px;
    max-width: 220px;
  }
  .td-post-image-left figcaption {
    padding-left: 17px;
  }
}
@media (max-width: 767px) {
  .td-post-image-left {
    max-width: 220px;
    left: 0;
    margin-right: 21px;
  }
  .td-post-image-left figcaption {
    padding-right: 0;
  }
}
@media (max-width: 500px) {
  .td-post-image-left {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
/*  ----------------------------------------------------------------------------
    td image right
*/
.td-post-image-right {
  float: right;
  position: relative;
  right: -20px;
  z-index: 1;
}
.td-post-image-right figcaption {
  padding-right: 20px;
}
/* responsive portrait tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .td-post-image-right {
    right: -18px;
    max-width: 220px;
  }
  .td-post-image-right figcaption {
    padding-right: 17px;
  }
}
/* responsive portrait phone */
@media (max-width: 767px) {
  .td-post-image-right {
    right: 0;
    margin-left: 21px;
    max-width: 220px;
  }
  .td-post-image-right figcaption {
    padding-right: 0;
  }
}
/* responsive phone CUSTOM - align the image on center */
@media (max-width: 500px) {
  .td-post-image-right {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
.wp-block-image {
  margin-bottom: 39px;
}
/*  ----------------------------------------------------------------------------
    td image full width
*/
.td-post-image-full {
  position: relative;
  left: -21px;
  max-width: none !important;
  width: 681px !important;
  z-index: 1;
}
.td-post-image-full figcaption {
  padding-right: 20px;
  padding-left: 20px;
}
/* responsive portrait tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .td-post-image-full {
    left: -18px;
    width: 505px !important;
  }
  .td-post-image-full figcaption {
    padding-right: 17px;
    padding-left: 17px;
  }
}
/* responsive portrait phone */
@media (max-width: 767px) {
  .td-post-image-full {
    left: 0;
    width: 100% !important;
    max-width: 100% !important;
  }
  .td-post-image-full figcaption {
    padding-right: 0;
    padding-left: 0;
  }
}
.td-pb-span12 .td-post-image-full,
.mceContentBody-max-width-big .td-post-image-full {
  width: 1021px !important;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .td-pb-span12 .td-post-image-full,
  .mceContentBody-max-width-big .td-post-image-full {
    width: 756px !important;
  }
}
/*  ----------------------------------------------------------------------------
    td image full width -and-grid
*/
.td-post-image-full-and-grid {
  position: relative;
  left: -20px;
  max-width: none !important;
  width: 679px !important;
  z-index: 1;
}
.td-post-image-full-and-grid figcaption {
  padding-right: 20px;
  padding-left: 20px;
}
/* responsive portrait tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .td-post-image-full-and-grid {
    left: -17px;
    width: 503px !important;
  }
  .td-post-image-full-and-grid figcaption {
    padding-right: 17px;
    padding-left: 17px;
  }
}
/* responsive portrait phone */
@media (max-width: 767px) {
  .td-post-image-full-and-grid {
    left: 0;
    width: 100% !important;
    max-width: 100% !important;
  }
  .td-post-image-full-and-grid figcaption {
    padding-right: 0;
    padding-left: 0;
  }
}
.td-pb-span12 .td-post-image-full-and-grid,
.mceContentBody-max-width-big .td-post-image-full-and-grid {
  width: 1019px !important;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .td-pb-span12 .td-post-image-full-and-grid,
  .mceContentBody-max-width-big .td-post-image-full-and-grid {
    width: 754px !important;
  }
}
/*  ----------------------------------------------------------------------------
    custom post padding
*/
.td-paragraph-padding-0 {
  display: block;
  padding-left: 0;
  padding-right: 11%;
}
.td-paragraph-padding-1 {
  display: block;
  padding-left: 11%;
  padding-right: 11%;
}
.td-paragraph-padding-2 {
  display: block;
  padding-left: 17.5%;
  padding-right: 17.5%;
}
.td-paragraph-padding-3 {
  display: block;
  padding-left: 11%;
  padding-right: 17.5%;
}
.td-paragraph-padding-4 {
  display: block;
  padding-left: 11%;
  padding-right: 0;
}
.td-paragraph-padding-5 {
  display: block;
  padding-left: 22.5%;
  padding-right: 22.5%;
}
.td-paragraph-padding-6 {
  display: block;
  padding-left: 17.5%;
  padding-right: 11%;
}
.td-pb-span8 .td-paragraph-padding-0,
.mceContentBody-max-width-small .td-paragraph-padding-0 {
  padding-right: 3%;
}
.td-pb-span8 .td-paragraph-padding-1,
.mceContentBody-max-width-small .td-paragraph-padding-1 {
  padding-left: 3%;
  padding-right: 3%;
}
.td-pb-span8 .td-paragraph-padding-2,
.mceContentBody-max-width-small .td-paragraph-padding-2 {
  padding-left: 8.5%;
  padding-right: 8.5%;
}
.td-pb-span8 .td-paragraph-padding-3,
.mceContentBody-max-width-small .td-paragraph-padding-3 {
  padding-left: 3%;
  padding-right: 8.5%;
}
.td-pb-span8 .td-paragraph-padding-4,
.mceContentBody-max-width-small .td-paragraph-padding-4 {
  padding-left: 3%;
}
.td-pb-span8 .td-paragraph-padding-5,
.mceContentBody-max-width-small .td-paragraph-padding-5 {
  padding-left: 10.5%;
  padding-right: 10.5%;
}
.td-pb-span8 .td-paragraph-padding-6,
.mceContentBody-max-width-small .td-paragraph-padding-6 {
  padding-left: 8.5%;
  padding-right: 3%;
}
/* responsive phone */
@media (max-width: 500px) {
  .td-paragraph-padding-0,
  .td-paragraph-padding-1,
  .td-paragraph-padding-2,
  .td-paragraph-padding-3,
  .td-paragraph-padding-4,
  .td-paragraph-padding-5,
  .td-paragraph-padding-6 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@font-face {
  font-family: 'newsmag';
  src: url('images/icons/newsmag.eot?14');
  src: url('images/icons/newsmag.eot?14#iefix') format('embedded-opentype'), url('images/icons/newsmag.woff?14') format('woff'), url('images/icons/newsmag.ttf?14') format('truetype'), url('images/icons/newsmag.svg?14#newsmag') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'newsmag';
    src: url('images/icons/newsmag.svg?#newsmag') format('svg');
  }
}
[class^="td-icon-"]:before,
[class*=" td-icon-"]:before {
  font-family: "newsmag";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.td-icon-comments:before {
  content: '\e80c';
}
.td-icon-path:before {
  content: '\e822';
}
.td-icon-rss:before {
  content: '\e828';
}
.td-icon-logout:before {
  content: '\e800';
}
.td-icon-menu-down:before {
  content: '\e806';
}
.td-icon-menu-left:before {
  content: '\e807';
}
.td-icon-menu-right:before {
  content: '\e808';
}
.td-icon-menu-up:before {
  content: '\e809';
}
.td-icon-instagram:before {
  content: '\e81d';
}
.td-icon-windows:before {
  content: '\e833';
}
.td-icon-youtube:before {
  content: '\e836';
}
.td-icon-share:before {
  content: '\e829';
}
.td-icon-down:before {
  content: '\e801';
}
.td-icon-left:before {
  content: '\e802';
}
.td-icon-right:before {
  content: '\e803';
}
.td-icon-up:before {
  content: '\e804';
}
.td-icon-flickr:before {
  content: '\e819';
}
.td-icon-facebook:before {
  content: '\e818';
}
.td-icon-googleplus:before {
  content: '\e81b';
}
.td-icon-pinterest:before {
  content: '\e825';
}
.td-icon-paypal:before {
  content: '\e823';
}
.td-icon-behance:before {
  content: '\e811';
}
.td-icon-mail-2:before {
  content: '\e820';
}
.td-icon-search:before {
  content: '\e80a';
}
.td-icon-user:before {
  content: '\e80b';
}
.td-icon-category:before {
  content: '\e80e';
}
.td-icon-mail-1:before {
  content: '\e810';
}
.td-icon-delicious:before {
  content: '\e813';
}
.td-icon-stumbleupon:before {
  content: '\e82f';
}
.td-icon-grooveshark:before {
  content: '\e838';
}
.td-icon-forrst:before {
  content: '\e81a';
}
.td-icon-digg:before {
  content: '\e815';
}
.td-icon-spotify:before {
  content: '\e82c';
}
.td-icon-reddit:before {
  content: '\e827';
}
.td-icon-dribbble:before {
  content: '\e816';
}
.td-icon-evernote:before {
  content: '\e817';
}
.td-icon-linkedin:before {
  content: '\e81f';
}
.td-icon-vk:before {
  content: '\e837';
}
.td-icon-skype:before {
  content: '\e82a';
}
.td-icon-twitter:before {
  content: '\e831';
}
.td-icon-vimeo:before {
  content: '\e832';
}
.td-icon-yahoo:before {
  content: '\e835';
}
.td-icon-myspace:before {
  content: '\e821';
}
.td-icon-steam:before {
  content: '\e82e';
}
.td-icon-lastfm:before {
  content: '\e81e';
}
.td-icon-tumblr:before {
  content: '\e830';
}
.td-icon-stackoverflow:before {
  content: '\e82d';
}
.td-icon-blogger:before {
  content: '\e812';
}
.td-icon-deviantart:before {
  content: '\e814';
}
.td-icon-wordpress:before {
  content: '\e834';
}
.td-icon-mobile:before {
  content: '\e80d';
}
.td-icon-views:before {
  content: '\e805';
}
.td-icon-soundcloud:before {
  content: '\e82b';
}
.td-icon-star:before {
  content: '\e80f';
}
.td-icon-star-empty:before {
  content: '\e839';
}
.td-icon-star-half:before {
  content: '\e83a';
}
.td-icon-related-left:before {
  content: '\e83b';
}
.td-icon-close:before {
  content: '\e83c';
}
.td-icon-read-down:before {
  content: '\e83d';
}
.td-icon-close-mobile:before {
  content: '\e900';
}
.td-icon-modal-back:before {
  content: "\e901";
}
.td-icon-modal-close:before {
  content: "\e902";
}
.td-icon-dailymotion:before {
  content: '\e908';
}
.td-icon-twitch:before {
  content: '\e909';
}
.td-icon-xing:before {
  content: '\e90a';
}
.td-icon-ebay:before {
  content: '\e90b';
}
.td-icon-telegram:before {
  content: '\f2c6';
}
.td-icon-plus:before {
  content: '\ea0a';
}
.td-icon-minus:before {
  content: '\ea0b';
}
.td-icon-mail:before {
  content: '\e810';
}
.td-icon-print:before {
  content: '\f02f';
}
.td-icon-whatsapp:before {
  content: '\f232';
}
.td-icon-line:before {
  content: '\e906';
}
.td-icon-viber:before {
  content: '\e907';
}
.td-icon-video-thumb-play:before {
  content: '\e903';
}
.td-icon-naver:before {
  content: "\e9d3";
}
.td-icon-discord:before {
  content: "\e905";
}
.td-icon-insta-carousel:before {
  content: "\e904";
}
.td-icon-menu-down {
  position: relative;
  top: 0;
  font-size: 8px;
  padding-left: 3px;
}
/*  ----------------------------------------------------------------------------
    editor style
*/
/* max width  - content + sidebar */
html .mceContentBody {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 640px;
  background: #ffffff url('images/editor-style/grid-sidebar-desktop.png') repeat-y left top;
  /* responsive portrait tablet */
}
@media (min-width: 768px) and (max-width: 1023px) {
  html .mceContentBody {
    margin-left: 17px;
    margin-right: 17px;
    max-width: 469px;
    background: #ffffff url('images/editor-style/grid-sidebar-tablet.png') repeat-y left top;
  }
}
/* max width  - full content */
html .mceContentBody-max-width-big {
  background: #ffffff url('images/editor-style/grid-no-sidebar-desktop.png') repeat-y left top;
  max-width: 980px;
  /* responsive portrait tablet */
}
@media (min-width: 768px) and (max-width: 1023px) {
  html .mceContentBody-max-width-big {
    margin-left: 17px;
    margin-right: 17px;
    max-width: 721px;
    background: #ffffff url('images/editor-style/grid-no-sidebar-tablet.png') repeat-y left top;
  }
}
.mce-content-body {
  /*  ----------------------------------------------------------------------------
       tagDiv image styles
  */
  /* image right */
}
.mce-content-body p {
  line-height: 24px;
}
.mce-content-body img {
  height: auto;
  max-width: 100% !important;
  display: block;
}
.mce-content-body .td-post-image-full,
.mce-content-body .td-post-image-full-and-grid {
  z-index: 0;
  max-width: none !important;
  /* responsive portrait phone */
}
@media (max-width: 767px) {
  .mce-content-body .td-post-image-full,
  .mce-content-body .td-post-image-full-and-grid {
    max-width: 100% !important;
  }
}
.mce-content-body .td-post-image-right {
  z-index: 0;
}
.mce-content-body .td_btn {
  pointer-events: none;
}
.wp-caption-dd {
  padding: 0px !important;
}
.wp-caption-dt img {
  margin-bottom: 0px;
}
